body {
   background-color: antiquewhite;
}

h1 {
   color: blue;
   background-color:aquamarine;
}

p {
   /* font-size: 10px; */
   font-size: 1.4em;
   font-weight: bold;
   font-style: italic;
   text-decoration: underline;
}

div{
   width:450px;
   height:150px;
   background-color: chartreuse;
   border-top-style: solid;
   border-top-width: 8px;
   border-top-color: red;
}

.my-div1{
   width:750px;
   background-color: aqua;
   border-bottom: dotted 5px grey;
}

#my-div2{
   width:300px;
   background-color:blueviolet;
}

.div-all-border{
   border:dashed 4px blue;
}

