.container-1, .container-2{
   background-color:aquamarine;
   width: 800px;
   border: solid 10px gray;
   margin: auto;
   min-height:100px;
   margin-bottom: 10px;
}

.container-1 div, .container-2 div{
   background-color:blueviolet;
   width:350px;
   border:solid 2px red;
   height: 80px;
   color:#fff;
   font-weight: bold;
   font-size: 3em;
}

.container-1 .div-2{
   margin-top:10px;
   margin-bottom: 10px;
   margin-left: 200px;
}

.container-1 {
   box-sizing: border-box;
   min-height: 300px;
   position: relative;
}

.container-2 {
   padding-left:150px;
   box-sizing: border-box;
} 

.container-1 .pos-1{
   position:absolute;
   right:0px;
   bottom:20px;
}

.container-1 div{
   position: absolute;
}

.container-1 .z-1{
   width:600px;
   background-color:cadetblue;
   z-index: 10000;
}

.container-1 .z-2{
   width:500px;
   top:30px;
   background-color:yellowgreen;
   z-index: 2;
}

.container-1 .z-3{
   top:60px;
   z-index: 7;
}