div {
   border: solid 1px black;
   width: 50%;
   min-height: 40px;
   margin:10px auto;
   padding: 10px;
   background-color: antiquewhite;
}

div p {
   background-color: aqua;
   min-height: 10px;
}

#p2{
   background-color: yellowgreen;
   min-height: 20px;
}

.p1{
   background-color: blueviolet;
   width: 50%;
}

.example{
   background-color: green;
   width: 70%;
   min-height: 50px;
}

.example1{
   border-radius: 20px 30px;
   width: 70%;
   background-color: aquamarine;
}