.container{
   width: 70%;
   min-height: 100px;
   border: solid;
   margin: 10px auto;
   padding: 10px;
   background-color: aqua;
}

@keyframes anime1 {
   from {background-color: red;}
   to {background-color: yellow; margin-left: 300px; margin-top:200px}
}

@keyframes anime2 {
   0% {background-color: red;}
   40% {background-color: yellow; margin-left: 300px; margin-top:200px}
   75% {background-color: green; margin-left: 600px; margin-top:100px; border-radius: 100%;}
   100% {background-color: blue; margin-left: 0px; margin-top:0px}
}

.item{
   width: 200px;
   height: 200px;
   border: solid;
   background-color: red;
   animation-name: anime2;
   animation-duration: 5s;
   animation-iteration-count: 3;
   animation-delay: 3;
}