<style>
    img {
        width: 20%;
    }
</style>

<img src="img.png" alt="">
<img src="img.png" alt="">
<img src="img.png" alt="">
<img src="img.png" alt="">
<img src="img.png" alt="">
<img src="img.png" alt="">
<img src="img.png" alt="">
<img src="img.png" alt="">
<img src="img.png" alt="">
