.container1, .container2{
   min-height: 600px;
   width: 70%;
   background-color: aqua;
   border: solid;
   margin: auto;
   margin-bottom: 10px;
}

.container1{
   display: flex;
   /* flex-direction:row; */
   /* justify-content: space-between; */
   /* flex-wrap: wrap; */
   flex-flow: row;
   /* align-items: flex-start; */
   /* align-content: space-between; */
}

.container1 .item, .container2 .item{
   min-height: 150px;
   background-color: brown;
   width: 200px;
   border: solid red 3px;
   color: white;
   font-size: 3em;
   text-align: center;
}

.container1 .item{
   /* width: 33%; */
   flex-grow: 1;
   width: 0;
}
